body,
html {
    padding: 0;
    margin: 0;
    background-color: black;

    /* Variables */

    --inset-lign: rgb(80, 80, 80);
    --bg-color: #0f0f0f;
    --hover-button-bg: rgb(66, 66, 66);
    --BigOption:rgb(77, 77, 77);
    --text-color:#dddddd;
}

.space {
    height: 5vh;
}


/* HEADER 1 */


#header1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8vw;
    background-color: var(--bg-color);
    box-shadow: inset 0 -1px 0 var(--inset-lign);
    height: 15vh;
}

#logo-header1 img {
    height: 6vh;

    &:hover {
        cursor: pointer;
        transform: scale(0.95);
    }
}

#navBar-header1 a {
    text-decoration: none;
    color: var(--text-color);
    padding: 3vh 3vw;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;

    &:hover {
        transition: all .4s ease-in-out;
        background-color: var(--hover-button-bg);
    }

    &:active {
        transition: all 0s ease-in-out;
        background-color: rgb(255, 255, 255);
        color: black;
    }
}


#burger-header1 {
    display: none;
    cursor: pointer;
}

#phone-menu-header1 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 100;
}

#phone-menu-header1 a {
    background-color: var(--bg-color);
    box-shadow: inset 0 -1px 0 var(--inset-lign);
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vw;
    width: 95vw;
    font-size: large;
    text-decoration: none;
    color: var(--text-color);

    &:hover {
        transition: all .3s ease-in-out;
        background-color: var(--hover-button-bg);
    }
}

@media screen and (max-width: 650px) {
    #burger-header1 {
        display: block;
    }

    #navBar-header1 {
        display: none;
    }
}








/* HEADER 2 */

#header2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8vw;
    background-color: var(--bg-color);
    box-shadow: inset 0 -1px 0 var(--inset-lign);
    height: 15vh;
}

#logo-header2 img {
    height: 6vh;

    &:hover {
        cursor: pointer;
        transform: scale(0.95);
    }
}

#navBar-header2 a {
    text-decoration: none;
    color: var(--text-color);
    padding: 3vh 3vw;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;

    &:hover {
        transition: all .4s ease-in-out;
        background-color: var(--hover-button-bg);
    }

    &:active {
        transition: all 0s ease-in-out;
        background-color: rgb(255, 255, 255);
        color: black;
    }
}


#burger-header2 {
    display: none;
    cursor: pointer;
}

#phone-menu-header2 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 100;
}

#phone-menu-header2 a {
    background-color: var(--bg-color);
    box-shadow: inset 0 -1px 0 var(--inset-lign);
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vw;
    width: 95vw;
    font-size: large;
    text-decoration: none;
    color: var(--text-color);

    &:hover {
        transition: all .3s ease-in-out;
        background-color: var(--hover-button-bg);
    }
}



#form-header2 {
    width: 40vh;
    margin-left: 30px;
    height: 4vh;
    border-radius: 3px;
    background-color: #3b3b3b;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
}


#form-header2 img {
    height: 3.5vh;
}

#logo-header2 {
    display: flex;
    align-items: center;
    width: auto;
}

#input-header2 {
    width: 26.5vw;
    height: 4vh;
    border-radius: 3px;
    border: none;
    color: white;
    font-size: large;
    background-color: transparent;

    &:focus {
        outline: none;
    }
}


#form-menu-header2 {
    background-color: var(--bg-color);
    box-shadow: inset 0 -1px 0 var(--inset-lign);
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5vw;
    width: 95vw;
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

#input-menu-header2 {
    width: 70.5vw;
    height: 6vh;
    border-radius: 3px;
    border: none;
    color: white;
    font-size: x-large;
    background-color: #3b3b3b;
    margin-left: 30px;
    padding-left: 10px;

    &:focus {
        outline: none;
    }
}

#sub-menu-header2 {
    background-color: transparent;
    border: none;
}

#sub-header2 {
    background-color: transparent;
    border: none;
}


@media screen and (max-width: 1150px) {
    #burger-header2 {
        display: block;
    }

    #navBar-header2 {
        display: none;
    }

    #form-header2 {
        display: none;
    }
}









/* header 3 */




#header3 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8vw;
    background-color: var(--bg-color);
    box-shadow: inset 0 -1px 0 var(--inset-lign);
    height: 15vh;
}

#logo-header3 img {
    height: 6vh;

    &:hover {
        cursor: pointer;
        transform: scale(0.95);
    }
}

#navBar-header3 a {
    text-decoration: none;
    color: var(--text-color);
    padding: 3vh 3vw;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;

    &:hover {
        transition: all .4s ease-in-out;
        background-color: var(--hover-button-bg);
    }

    &:active {
        transition: all 0s ease-in-out;
        background-color: rgb(255, 255, 255);
        color: black;
    }
}


#burger-header3 {
    display: none;
    cursor: pointer;
}

#phone-menu-header3 {
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 100;
    width: 100%;
}

#phone-menu-header3>div>a {
    background-color: var(--bg-color);
    box-shadow: inset 0 -1px 0 var(--inset-lign);
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5%;
    width: 95%;
    font-size: large;
    text-decoration: none;
    color: var(--text-color);

    &:hover {
        transition: all .3s ease-in-out;
        background-color: var(--hover-button-bg);
    }
}


#phone-menu-header3>div {
    display: none;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.BigOptionHeader3 {
    background-color: var(--BigOption);
    box-shadow: inset 0 -1px 0 var(--inset-lign);
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5%;
    width: 95%;
    font-size: large;
    text-decoration: none;
    color: var(--text-color);

    &:hover {
        transition: all .3s ease-in-out;
        background-color: var(--hover-button-bg);
    }
}

#Big-Option1-Header3 {
    display: none;
}

#Big-Option2-Header3 {
    display: none;
}

#Big-Option3-Header3 {
    display: none;
}

@media screen and (max-width: 650px) {
    #burger-header3 {
        display: block;
    }

    #navBar-header3 {
        display: none;
    }
}