body {
    padding: 0 5vw;
    margin: 0;
    background-color: black;

    /* Variables */

    --text-color: #dadada;
    --bg-color: #222222;
    --hover-bg-color: #4d4d4d;
}

.space {
    height: 10vh;
}

/* BUTTON 1 */

#button1 {
    color: var(--text-color);
    font-size: x-large;
    padding: 16px 32px;
    background-color: var(--bg-color);
    border-radius: 10px;
    border: 2px solid var(--text-color);
    text-decoration: none;

    &:hover {
        transition: all .3s ease-in-out;
        background-color: var(--hover-bg-color);
    }
}

/* BUTTON 2 */


#button2 {
    color: var(--text-color);
    font-size: x-large;
    padding: 16px 32px;
    background-color: var(--bg-color);
    border-radius: 10px;
    border: 2px solid var(--text-color);
    text-decoration: none;
    &:hover {
        transition: all .4s ease-in-out;
        background-color: var(--hover-bg-color);
        padding: 16px 100px;
    }
}

/* BUTTON 3 */



#button3 {
    color: var(--text-color);
    font-size: x-large;
    padding: 16px 32px;
    background-color: var(--bg-color);
    border-radius: 10px;
    border: 2px solid var(--text-color);
    text-decoration: none;
    &:hover {
        transition: all .1s ease-in-out;
        background-color: var(--hover-bg-color);
        font-size: x-large;
        padding: calc(16px*1.1) calc(32px*1.1);
    }
}