body, html{
    padding: 0;
    margin: 0;
    background-color: black;

    /* Variables */

    --inset-lign: rgb(80, 80, 80);
    --bg-color: #1b1b1b;
    --hover-button-bg: rgb(66, 66, 66);
    --BigOption:rgb(77, 77, 77);
    --text-color:#dddddd;
    --color-condition: rgb(15, 15, 15);
}

.space{
    height: 5vh;
}


/* FOOTER 1 */

#footer1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 8vw;
    background-color: var(--bg-color);
    box-shadow: inset 0 1px 0 var(--inset-lign);
}

#logos-footer1 img{
    height: 5vh;
    padding:  10px;
    border-radius: 15px;
    &:hover {
        transition: all.4s ease-in-out;
        background-color: var(--hover-button-bg);
    }

    &:active {
        transition: all 0s ease-in-out;
        background-color: var(--color-condition);
    }
}


#sec1-footer1{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13vh;
}

#sec2-footer1{
    background-color: var(--color-condition);
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#sec2-footer1 a{
    color: var(--text-color);
    padding: 0 20px;
}


#menu-footer1{
    display: flex;
    align-items: center;
    margin-left: 30px;
}

#menu-footer1 a{
    text-decoration: none;
    color: var(--text-color);
    padding: 3vh 3vw;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    &:hover {
        transition: all.4s ease-in-out;
        background-color: var(--hover-button-bg);
    }

    &:active {
        transition: all 0s ease-in-out;
        background-color: rgb(255, 255, 255);
        color: black;
    }
}

@media screen and (max-width: 900px) {
    #sec1-footer1{
        height: 20vh;
        flex-direction: column;        
    }
}








/* FOOTER 2 */


#footer2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 8vw;
    background-color: var(--bg-color);
    box-shadow: inset 0 1px 0 var(--inset-lign);
}

#sec1-footer2{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}



#sec2-footer2{
    background-color: var(--color-condition);
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#sec2-footer2 a{
    color: var(--text-color);
    padding: 0 20px;
}

#logos-footer2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-content: center;
    margin: 20px 0;
}

#menu-footer2 a{
    color: var(--text-color);
    padding: 5px 10px;
    margin: 20px 0;
    border-radius: 3px;
    &:hover {
        transition: all .2s ease-in-out;
        background-color: var(--hover-button-bg);
    }

}

#sous-sec1-footer2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 20vh;
    padding: 0 30px;
}


#sous-sec2-footer2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 20vh;
    padding: 0 30px;
}

#sous-sec2-footer2 form{
    display: flex;
    flex-direction: column;
    width: 30vh;
}

#sous-sec2-footer2 h3{
    padding: 0;
    margin: 0;
    color: var(--text-color);
}